<h1>This is <%= @title %></h1>

<p><%= @text %></p>
<br />

<%= form_for :training do |f| %>
    <ul>
        <li><%= f.label :date %>
            <%= f.datetime_field :date %>
        </li>
        <li>
            <%= f.label :name %>
            <%= f.text_field :name, limit: 10 %>
        </li>
        <li><%= f.submit %></li>
    </ul>
<% end %>
